body {
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
  font-family: 'Comic Sans MS', cursive;
  text-align: center;
  margin: 0;
}

.container {
  margin-top: 50px;
}

.cute-img {
  width: 220px;
  border-radius: 20px;
}

button {
  font-size: 1.2rem;
  padding: 10px 25px;
  margin: 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#noBtn {
  background: white;
  color: #ff4d6d;
}
h2 {
  color: #ff4d6d;
}

button:hover {
  transform: scale(1.05);
}
