body {
  background: linear-gradient(to bottom, #ffe6eb, #fff);
  font-family: 'Comic Sans MS', cursive;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 30px;
}

h1 {
  color: #ff4d6d;
  font-size: 2.5rem;
}

.letter {
  background: rgba(255,255,255,0.8);
  padding: 20px;
  border-radius: 20px;
  margin: 20px auto;
  width: 85%;
}

.section {
  background: rgba(255,255,255,0.85);
  padding: 20px;
  margin: 25px auto;
  width: 85%;
  border-radius: 25px;
}

.big {
  font-size: 1.5rem;
}

button {
  padding: 10px 25px;
  font-size: 1.1rem;
  margin: 8px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#noBtn {
  background: white;
  color: #ff4d6d;
}
